<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Keen Corsiga", "https://www.facebook.com/keen.corsiga", class: "text-white" %></small>
  </div>
</footer>